table {
  color: #555;
  text-shadow: none;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,.1);
  overflow: hidden;
}

.scroll-body {
  max-height: 700px;
  overflow: auto;
}

thead .course {
  width: 33%;
}

thead .date {
  width: 17%;
}

thead .time {
  width: 28%;
}

thead .role {
  width: 15%;
}

thead .functions {
  width: 7%;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}

.input-row span, .input-row input[type="time"] {
  width: auto;
  display: inline;
}

.multiselect-container {
  color: #555;
  text-shadow: none;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}
.form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
.form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0px;
}

@media (min-width: 992px) {
  .cover-head, .cover-foot, .cover-container {
    width: 900px;
  }
}