table {
  color: #555;
  text-shadow: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
}

td span, td input[type="time"], td input[type="date"] {
  width: auto;
  display: inline;
}

@media (min-width: 992px) {
  .cover-head, .cover-foot, .cover-container {
    width: 900px;
  }
}