html, body {
  height: 100%;
  background-color: #333;
}

body {
  color: #ddd;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

a, a:focus, a:hover {
  color: #fff;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
}

.lead {
	color: inherit;
}

.lighter {
  color: #999;
  color: rgba(255,255,255,.5);
}

.center {
  text-align: center;
}

.inner {
  padding: 30px;
}

.sevenhundred {
  width: 700px;
  margin: auto;
}

.cover {
  padding: 0 20px;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.code {
  font-family: Consolas, Lucida Console, monospace;
  width: 500px !important;
}

.flash {
  color: #fff;
  background-color: #d83;
  border: 1px solid transparent;
  border-color: #c72;
  border-radius: 6px;
  padding: 15px;
  font-weight: bold;
}