.cover-content a {
  font-weight: bold;
}

.btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.panel {
	background-color: #222;
}

.panel-default {
	border-color: #2e6da4;
}

.panel-default > .panel-heading#q1 {
	background-color: #337ab7;
}

.panel-default > .panel-heading#q2 {
	background-color: #438ac7;
}

.panel-default > .panel-heading#q3 {
	background-color: #539ad7;
}

.panel-default > .panel-heading#q4 {
	background-color: #63aae7;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #2e6da4;
}

.panel-heading a, .panel-heading a:hover, .panel-heading a:focus {
	color: #222;
	text-decoration: none;
	text-shadow: none;
}