/*
 * Site layout
 */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  display: table;
  height: inherit;
  margin: 0;
  padding: 0;

  color: #ddd;
  background-color: #333;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table-cell;
}

.cover-wrapper {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.cover-header, .cover-container, .cover-footer {
  display: table-row;
}

.cover-header, .cover-footer {
  height: 100px;
}

.cover-container {
  height: 100%;
}

.cover-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .cover-wrapper {
    width: 900px;
    height: 100%;
  }
}

/*
 * Header + Footer
 */

.cover-header-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover-header-nav > li {
  display: inline-block;
}

.cover-header-nav > li + li {
  margin-left: 20px;
}

.cover-header-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.cover-header-nav > li > a:hover, .cover-header-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.cover-header-nav > .active > a, .cover-header-nav > .active > a:hover, .cover-header-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {

  .cover-header > .inner {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

  .cover-header-brand {
    float: left;
  }

  .cover-header-nav {
    float: right;
  }
}

.cover-footer {
  text-align: center;
}

/*
 * Custom styles
 */

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inner {
  padding: 30px;
}

a, a:focus, a:hover {
  color: #fff;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
}

.lead {
  color: inherit;
}

.note {
  color: #999;
  color: rgba(255,255,255,.5);
}

.code {
  font-family: Consolas, Lucida Console, monospace;
  width: 500px !important;
}

.flash {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 15px;
  font-weight: bold;
}

.flash-success {
  background-color: #5cb85c;
  border-color: #4ca84c;
}

.flash-warn {
  background-color: #b77133;
  border-color: #a76123;
}

.flash-error {
  background-color: #d9534f;
  border-color: #c9433f;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

.highlight {
  -webkit-animation-name: highlight-animation;
     -moz-animation-name: highlight-animation;
          animation-name: highlight-animation;
  -webkit-animation-duration: 1.5s;
     -moz-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes highlight-animation {
  from { background-color: rgba(92, 184, 92, 0.5); }
  to   { background-color: rgba(92, 184, 92, 0); }
}

@-moz-keyframes highlight-animation {
  from { background-color: rgba(92, 184, 92, 0.5); }
  to   { background-color: rgba(92, 184, 92, 0); }
}

@keyframes highlight-animation {
  from { background-color: rgba(92, 184, 92, 0.5); }
  to   { background-color: rgba(92, 184, 92, 0); }
}

/*
 * Home page and About
 */

.cover-content a {
  font-weight: bold;
}

.btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.panel {
  background-color: #444;
}

.panel-default {
  border-color: #135a97;
}

.panel-default > .panel-heading#q1 {
  background-color: #236aa7;
}

.panel-default > .panel-heading#q2 {
  background-color: #337ab7;
}

.panel-default > .panel-heading#q3 {
  background-color: #438ac7;
}

.panel-default > .panel-heading#q4 {
  background-color: #539ad7;
}

.panel-default > .panel-heading#q5 {
  background-color: #63aae7;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2e6da4;
}

.panel-heading a, .panel-heading a:hover, .panel-heading a:focus {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

/*
 * Login and register page
 */

.form-signin {
  max-width: 350px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .bg-warning, .form-signin .checkbox, .form-signin button, .form-signin .flash {
  margin-bottom: 20px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .form-control-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-control-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Course overview styles
 */

table.table {
  color: #555;
  text-shadow: none;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,.1);
  overflow: hidden;
}

table.table thead .date {
  width: 1%;
}

table.table > tbody > tr > td {
  vertical-align: middle;
  text-align: left;
}

.input-row span, .input-row input[type="time"] {
  width: auto;
  display: inline;
}

.multiselect-container {
  color: #555;
  text-shadow: none;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}
.form-inline .multiselect-container li a label.checkbox input[type="checkbox"],
.form-inline .multiselect-container li a label.radio input[type="radio"] {
    margin-left: -20px;
    margin-right: 0px;
}
