/*
 * Cover template
 */


/*
 * Base structure
 */

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}


/*
 * Header
 */

.cover-head-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover-head-nav > li {
  display: inline-block;
}

.cover-head-nav > li + li {
  margin-left: 20px;
}

.cover-head-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.cover-head-nav > li > a:hover, .cover-head-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.cover-head-nav > .active > a, .cover-head-nav > .active > a:hover, .cover-head-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .cover-head-brand {
    float: left;
  }

  .cover-head-nav {
    float: right;
  }
}


/*
 * Footer
 */

.cover-foot {
  text-align: center;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .cover-head {
    position: fixed;
    top: 0;
  }

  .cover-foot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .cover-head, .cover-foot, .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-head, .cover-foot, .cover-container {
    width: 700px;
  }
}