/*
 * Site layout
 */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  display: table;
  height: inherit;
  margin: 0;
  padding: 0;

  color: #ddd;
  background-color: #333;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper {
  display: table-cell;
}

.cover-wrapper {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.cover-header, .cover-container, .cover-footer {
  display: table-row;
}

.cover-header, .cover-footer {
  height: 100px;
}

.cover-container {
  height: 100%;
}

.cover-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .cover-wrapper {
    width: 900px;
    height: 100%;
  }
}

/*
 * Header + Footer
 */

.cover-header-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover-header-nav > li {
  display: inline-block;
}

.cover-header-nav > li + li {
  margin-left: 20px;
}

.cover-header-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.cover-header-nav > li > a:hover, .cover-header-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.cover-header-nav > .active > a, .cover-header-nav > .active > a:hover, .cover-header-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {

  .cover-header > .inner {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

  .cover-header-brand {
    float: left;
  }

  .cover-header-nav {
    float: right;
  }
}

.cover-footer {
  text-align: center;
}

/*
 * Custom styles
 */

.center {
  text-align: center;
}

.inner {
  padding: 30px;
}

a, a:focus, a:hover {
  color: #fff;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
}

.lead {
  color: inherit;
}

.note {
  color: #999;
  color: rgba(255,255,255,.5);
}

.code {
  font-family: Consolas, Lucida Console, monospace;
  width: 500px !important;
}

.flash {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 15px;
  font-weight: bold;
}

.flash-success {
  background-color: #33b771;
  border-color: #23a761;
}

.flash-warn {
  background-color: #b77133;
  border-color: #a76123;
}

.flash-error {
  background-color: #b73337;
  border-color: #a72327;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}
