{% extends "template.html" %}

{% block title %}Über das Projekt{% endblock %}

{% block style %}<link href="../static/css/home.css" rel="stylesheet">{% endblock %}

{% block content %}
<div class="inner cover">
	<h2>Über das Projekt</h2>
	<br />
	<p class="lead">
		BASys ist ein unabhängiges Projekt und wird von Oliver Wirth entwickelt und administriert.
	</p>
	<p class="lead">
		Mit der Erstellung eines Benutzerkontos stimmst du den Nutzungsbedingungen dieser Seite zu.
		Du benötigst zur Anmeldung weder deinen echten Namen noch deine E-Mail-Adresse, trotzdem bitten wir dich mindestens deinen Vornamen zu verwenden, da dieser auch auf den Abrechnungen erscheint.
	</p>
	<p class="lead">
		Die BASys-Datenbanken werden regelmäßig gesichert, trotzdem übernehmen wir keinerlei Haftung für den Verlust deiner gespeicherten Daten.
		Dies gilt ebenfalls für den Datenverlust durch eventuelle Update- oder Optimierungsroutinen.
	</p>
	<p class="lead">
		Der Quellcode der App kann <a href="{{ app.Urls.github }}">auf Github</a> gefunden werden.
		Solltest du irgendwelche Bugs oder Logikfehler finden, sende mir bitte eine Fehlerbeschreibung an <a href="mailto:wirtholiv@gmail.com">wirtholiv@gmail.com</a> zu.
		Eventuelle Verbesserungsvorschläge sind ebenfalls willkommen.
	</p>
</div>
{% endblock %}