{% extends "template.html" %}

{% block title %}Über das Projekt{% endblock %}

{% block style %}
<link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="cover-content inner">
	<h2>Über das Projekt.</h2>
	<br />
	<p>
		BASys ist ein unabhängiges Projekt und wird von mir entwickelt und administriert.
		Die Nutzung ist ausschließlich Angestellten der Tanzschule Brenner Heilbronn vorbehalten!
	</p>
	<p>
		Das Brenner Assistenten System wird von Heroku gehostet.
		Dadurch kann es zu unbeeinflussbaren Ausfallzeiten des Servers, sowie der Datenbank kommen.
		Ich übernehme daher keinerlei Haftung für den Verlust deiner gespeicherten Daten.
	</p>
	<p>
		Der Quellcode der App kann <a href="{{ _.Config.Urls.Ext.github }}">auf Github</a> gefunden werden.
		Solltest du irgendwelche Bugs oder Logikfehler finden, sende bitte eine Fehlerbeschreibung an <a href="mailto:{{ _.Config.Urls.Ext.email }}">{{ _.Config.Urls.Ext.email }}</a>.
		Eventuelle Verbesserungsvorschläge sind ebenfalls willkommen.
	</p>
	<br />

	<h2>FAQ</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="q1">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#a1" aria-expanded="true" aria-controls="a1">
						Wie kann ich loslegen?
					</a>
				</h4>
			</div>
			<div id="a1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q1">
				<div class="panel-body">
					Zur Nutzung von BASys benötigst du lediglich einen Account den du <a href="{{ _.Config.Urls.App.register }}">hier</a> erstellen kannst.
					Bitte beachte dass dein Benutzername auch später auf den Kurs-Auflistungen erscheinen wird, daher solltest du zumindest deinen echten Vornamen verwenden.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="q2">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a2" aria-expanded="false" aria-controls="a2">
						Wie füge ich meine Kurse hinzu?
					</a>
				</h4>
			</div>
			<div id="a2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
				<div class="panel-body">
					Sobald du einen Account erstellt hast und angemeldet bist, findest du auf der Startseite eine Tabelle mit deinen Kursen.
					Trage in die erste Reihe der Tabelle den Kursnamen, das Datum, die Start- und End-Uhrzeit, sowie deine Rolle während des Kurses ein.
					Mit einem Klick auf das <span class="glyphicon glyphicon-plus-sign"></span> speicherst du den Kurs schließlich.
					Durch das <span class="glyphicon glyphicon-minus-sign"></span> kannst du einen eingetragenen Kurs wieder entfernen.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="q3">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a3" aria-expanded="false" aria-controls="a3">
						Wie kopiere ich einen bereits eingetragenen Kurs?
					</a>
				</h4>
			</div>
			<div id="a3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
				<div class="panel-body">
					Mit einem einfachen Klick auf die entsprechende Zeile wird der Inhalt des Kurses in die Bearbeitungszeile kopiert, wo du ihn anpassen und wieder abspeichern kannst.
					Die kopierte Zeile wird dabei natürlich nicht verändert.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="q4">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a4" aria-expanded="false" aria-controls="a4">
						Wo erstelle ich eine Auflistung meiner Kurse?
					</a>
				</h4>
			</div>
			<div id="a4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
				<div class="panel-body">
					Unter deiner Kursübersicht findest du einen Button, über den du deine Auflistung generieren kannst.
					Dazu wählst du die Monate, die du nachher in der Auflistung wieder finden willst, aus und klickst auf den dazugehörigen Button.
					Falls du alle ausgewählten Kurse gleich noch aus deinen Kursen entfernen möchtest, kannst du die Option "Ausgewählte Kurse löschen" wählen.
					Anschließend wird ein PDF-Dokument erstellt, dass alle Kurse deiner ausgewählten Monate enthält.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="q5">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#a5" aria-expanded="false" aria-controls="a5">
						Wo ändere ich meinen Benutzernamen und mein Passwort?
					</a>
				</h4>
			</div>
			<div id="a5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
				<div class="panel-body">
					Sobald du dich angemeldet hast, kannst du über den Tab "Profil" zu deinem Benutzerkonto gelangen.
					Dort kannst du deine Kontodaten ändern.
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}