{% extends "template.html" %}

{% block title %}Admin{% endblock %}

{% block style %}
<link href="../static/css/courses.css" rel="stylesheet">
{% endblock %}

{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
		// Select last query
		$('#query').select();
	});
</script>
{% endblock %}

{% block content %}
<div class="inner cover center">
	<h2>BASys Admin Bereich</h2>
	<br />

	<form method="POST" class="form-inline" autocomplete="off">
		<div class="form-group">
			<label for="query" class="sr-only">SQL Befehl</label>
			<div class="input-group">
				<div class="input-group-addon"><span class="glyphicon glyphicon-console"></span></div>
				<input type="text" id="query" name="query" class="form-control code" value="{{ query }}" autocomplete="off" required autofocus>
			</div>
			<button class="btn btn-primary" type="submit">Go!</button>
		</div>
	</form>
	<br />

	{% for cat, msg in get_flashed_messages(with_categories=true) %}
	<p class="flash flash-{{ cat }} alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-exclamation-sign"></span> {{ msg }}
	</p>
	<br />
	{% endfor %}

	{% if result %}
	<div class="scroll-body">
		<table class="table table-hover">
			{% for record in result %}
			<tr>
				{% for field in record %}
				<td>{{ field }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
</div>
{% endblock %}