{% extends "template.html" %}

{% block title %}Deine Kurse{% endblock %}

{% block style %}
<link href="../static/css/bootstrap-multiselect.css" rel="stylesheet">
<link href="../static/css/courses.css" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="../static/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#selected').multiselect({
			disableIfEmpty: true,
			enableClickableOptGroups: true,
			maxHeight: 200,
			numberDisplayed: 1,
			nonSelectedText: 'Monate auswählen',
			nSelectedText: ' Monate ausgewählt',
			allSelectedText: 'Alle ausgewählt'
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="inner cover">
	<h2>Willkommen, {{ user.username }}.</h2>
	<br />
	<div class="scroll-body">
		<form method="POST" action="{{ app.Urls.courseAdd }}">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="course">Kurs</th>
						<th class="date">Datum</th>
						<th class="time">Uhrzeit</th>
						<th class="role">Rolle</th>
						<th class="functions"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="input-row">
						<td>
							<label for="name" class="sr-only">Kurs</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="Kurs" required autofocus>
						</td>
						<td>
							<label for="date" class="sr-only">Datum</label><!-- Input group! -->
							<input type="date" id="date" name="date" class="form-control" value="{{ app.datetime.today().strftime('%Y-%m-%d') }}" required>
						</td>
						<td>
							<span class="left">
								<label for="time_start" class="sr-only">Start</label>
								<input type="time" id="time_start" name="time_start" class="form-control" value="{{ app.datetime.today().strftime('%H:%M') }}" required>
							</span>
							<span class="right">
								<label for="time_end" class="sr-only">Ende</label>
								<input type="time" id="time_end" name="time_end" class="form-control" value="{{ app.datetime.today().replace(hour = app.datetime.today().hour + 1).strftime('%H:%M') }}" required>
							</span>
						</td>
						<td>
							<label for="role" class="sr-only">Rolle</label>
							<select id="role" name="role" class="form-control">
								<option value="Assistent" selected>Assistent</option>
								<option value="Lehrer">Lehrer</option>
								<option value="Teilnehmer">Teilnehmer</option>
							</select>
						</td>
						<td>
							<div class="right">
								<button class="btn btn-primary" type="submit">
									<span class="glyphicon glyphicon-plus-sign"></span>
								</button>
							</div>
						</td>
					</tr>
					{% for course in courses %}
					<tr>
						<td>{{ course.name }}</td>
						<td>{{ course.date }}</td>
						<td>{{ course.time }}</td>
						<td>{{ course.role }}</td>
						<td>
							<div class="right">
								<a href="{{ app.Urls.courseDelete }}/{{ course.id }}" class="btn btn-primary">
									<span class="glyphicon glyphicon-minus-sign"></span>
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>
	<form method="POST" action="{{ app.Urls.courseSubmit }}" class="form-inline">
		<div class="form-group">
			<label for="selected" class="sr-only">Monate</label>
			<select id="selected" name="selected[]" class="form-control" multiple="multiple">
				<optgroup label="Alle">
					{% for month in months %}
					<option value="{{ month }}" selected>{{ month }}</option>
					{% endfor %}
				</optgroup>
			</select>
			<button class="btn btn-primary {% if not courses %}disabled{% endif %}" type="submit">Auflistung erstellen</button>
		</div>
	</form>
</div>
{% endblock %}