{% extends "template.html" %}

{% block title %}{{ code }}{% endblock %}

{% block style %}
<link href="../static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="inner cover center">
	<h1>Error {{ code }} :(</h1>
	{% if code == 404 %}
	<p>Diese Seite existiert nicht. Probiers mit einer anderen.</p>
	{% elif code == 403 %}
	<p>Zugriff verweigert.</p>
	{% elif code == 500 %}
	<p>Irgendwas lief hier schief.</p>
	{% endif %}
	<p>Hier gehts zurück zur <a href="{{ app.Urls.home }}">Startseite</a>.</p>
</div>
{% endblock %}