{% extends "template.html" %}

{% block title %}Login{% endblock %}

{% block style %}
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="cover-content inner">
	<form class="form-signin" method="POST">
		<h2 class="form-signin-heading">Melde dich an.</h2>

		{% for cat, msg in get_flashed_messages(with_categories=true) %}
		<p class="flash flash-{{ cat }}">
			<span class="glyphicon glyphicon-exclamation-sign"></span> {{ msg }}
		</p>
		{% endfor %}

		<label for="username" class="sr-only">Benutzername</label>
		<input type="text" id="username" name="username" class="form-control form-control-top" placeholder="Benutzername" required autofocus>

		<label for="password" class="sr-only">Passwort</label>
		<input type="password" id="password" name="password" class="form-control form-control-bottom" placeholder="Passwort" required>

		<div class="checkbox">
			<label><input type="checkbox" name="remember" value="true"> Angemeldet bleiben</label>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

		<p class="note">Noch keinen Account? <a href="{{ _.Config.Urls.App.register }}">Hier geht's zur Registrierung.</a></p>
	</form>
</div>
{% endblock %}