{% extends "template.html" %}

{% block title %}Registrierung{% endblock %}

{% block style %}
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="inner cover">
	<form class="form-signin" method="POST">
		<h2 class="form-signin-heading">Erstelle einen Account</h2>

		{% for cat, msg in get_flashed_messages(with_categories=true) %}
		<p class="flash flash-{{ cat }}">
			<span class="glyphicon glyphicon-exclamation-sign"></span> {{ msg }}
		</p>
		<br />
		{% endfor %}

		<label for="username" class="sr-only">Benutzername</label>
		<input type="text" id="username" name="username" class="form-control" placeholder="Benutzername" required autofocus>

		<label for="password" class="sr-only">Passwort</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="Passwort" required>

		<div class="checkbox">
			<label><input type="checkbox" required> Ich akzeptiere die Nutzungsbedingungen.</label>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Erstellen</button>

		<p class="lighter">Bereits einen Account erstellt? <a href="{{ _.Config.Urls.App.login }}">Zurück zur Anmeldung.</a></p>
	</form>
</div>
{% endblock %}