<!DOCTYPE html>
<html lang="de">
    <head>
    	<!-- Standard meta -->
    	<meta charset="utf-8">

    	<!-- Meta description and favicon -->
	    <meta name="description" content="BASys (Brenner Assistenten System)">
	    <meta name="author" content="redevined (Oliver Wirth)">

    	<!-- Bootstrap core and template CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">

        <!-- PDF rendering styles -->
        <style>
            @page {
                size: A4;
                margin: 2cm;
            }
            .heading {
                margin-bottom: 1cm;
            }
            .footnote {
                font-size: 12px;
                page-break-after: always;
                margin-top: 1cm;
            }
        </style>
    </head>
    <body>
        
        {% for year, monthly_courses in all_courses %}
        {% for month, courses in monthly_courses %}
        <h3 class="heading">Kursübersicht {{ month }} {{ year }} für {{ user.username }}.</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Kurs</th>
                    <th>Datum</th>
                    <th>Uhrzeit</th>
                    <th>Rolle</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.date }}</td>
                    <td>{{ course.time }}</td>
                    <td>{{ course.role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="footnote">Erstellt mit BASys - http://basys.herokuapp.com</p>
        {% endfor %}
        {% endfor %}

    </body>
</html>