<!DOCTYPE html>
<html lang="de">
    <head>
    	<!-- Standard meta -->
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

    	<!-- Meta description and favicon -->
	    <meta name="description" content="BASys (Brenner Assistenten System)">
	    <meta name="author" content="redevined (Oliver Wirth)">
	    <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

    	<!-- Title template block -->
        <title>{% block title %}{% endblock %} - BASys</title>

    	<!-- Bootstrap core -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/static/css/template.css" rel="stylesheet">
        {% block style %}{% endblock %}
    </head>
    <body>


		<div class="site-wrapper">
			<div class="cover-wrapper">

				<div class="cover-header clearfix">
					<div class="inner">
						<a href="{{ _.Config.Urls.App.home }}"><span class="cover-header-brand"><img src="/static/img/logo.png" alt="BASys" /></span></a>
						<nav>
							<ul class="nav cover-header-nav">
								{% if _.models.User.session.exists() %}
								{% if _.models.User.session.get().isAdmin() %}
								<li class="{% if _.flask.request.endpoint == 'admin' %}active{% endif %}">
									<a href="{{ _.Config.Urls.App.admin }}">Admin</a>
								</li>
								{% endif %}
								<li class="{% if _.flask.request.endpoint == 'user' %}active{% endif %}">
									<a href="{{ _.Config.Urls.App.user }}">Profil</a>
								</li>
								{% endif %}
								<li class="{% if _.flask.request.endpoint == 'about' %}active{% endif %}">
									<a href="{{ _.Config.Urls.App.about }}">Projekt</a>
								</li>
								{% if _.models.User.session.exists() %}
								<li>
									<a href="{{ _.Config.Urls.App.logout }}">Abmelden <span class="glyphicon glyphicon-log-out"></span></a>
								</li>
								{% else %}
								<li class="{% if _.flask.request.endpoint in ('login', 'register') %}active{% endif %}">
									<a href="{{ _.Config.Urls.App.login }}">Anmelden <span class="glyphicon glyphicon-log-in"></span></a>
								</li>
								{% endif %}
							</ul>
						</nav>
					</div>
				</div>

				<div class="cover-container">
					{% block content %}{% endblock %}
				</div>

				<div class="cover-footer">
					<div class="inner">
						<p class="note">BASys ist ein Projekt von <a href="{{ _.Config.Urls.Ext.github }}"><span class="glyphicon glyphicon-link"></span>redevined</a>.</p>
					</div>
				</div>

	        </div>
        </div>

        <!-- Bootstrap core Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- Custom JS -->
	    {% block script %}{% endblock %}
    </body>
</html>
