{% extends "template.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="cover-content inner">
	<form class="form-horizontal" method="POST">
		<div class="form-group">
			<h2>Profil von {{ _.models.User.session.get().username }}.</h2>

			{% for cat, msg in get_flashed_messages(with_categories=true) %}
			<p class="flash flash-{{ cat }}">
				<span class="glyphicon glyphicon-exclamation-sign"></span> {{ msg }}
			</p>
			{% endfor %}

			<div class="col-sm-offset-2 col-sm-10">
				<p class="lead">Hier kannst du deinen Namen oder dein Passwort ändern.</p>
			</div>
		</div>

		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">Benutzername</label>
			<div class="col-sm-10">
				<input type="text" id="username" name="username" class="form-control form-control-top" placeholder="Neuer Benutzername" autofocus>
			</div>
		</div>

		<div class="form-group">
			<label for="username-repeat" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input type="text" id="username-repeat" name="username-repeat" class="form-control form-control-bottom" placeholder="Benutzername wiederholen">
			</div>
		</div>

		<br />

		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Passwort</label>
			<div class="col-sm-10">
				<input type="password" id="password" name="password" class="form-control form-control-top" placeholder="Neues Passwort">
			</div>
		</div>

		<div class="form-group">
			<label for="password-repeat" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<input type="password" id="password-repeat" name="password-repeat" class="form-control form-control-bottom" placeholder="Passwort wiederholen">
			</div>
		</div>

		<br />

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" type="submit">Speichern</button>
			</div>
		</div>
	</form>

	{% if sheets %}
	<br />

	<div class="col-sm-offset-2 col-sm-10">
		<p class="lead">Archiv aller erstellten Auflistungen:</p>
	</div>

	<label class="col-sm-2" style="text-align: right;">Archiv <span class="glyphicon glyphicon-book"></span></label>
	<div class="col-sm-10">
		<table class="table table-hover">
			{% for sid, title in sheets %}
			<tr>
				<td class="months">
					<strong>Monate:</strong> {{ title }}
				</td>
				<td class="actions">
					<div class="btn-group right">
						<a href="{{ _.Config.Urls.App.sheet_download }}/{{ sid }}" class="btn btn-primary">
							<span class="glyphicon glyphicon-floppy-save"></span>
						</a>
						<a href="{{ _.Config.Urls.App.sheet_delete }}/{{ sid }}" class="btn btn-danger">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</div>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
</div>
{% endblock %}