{% extends "template.html" %}

{% block title %}Profil{% endblock %}

{% block style %}
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="cover-content inner">
	<form class="form-signin" method="POST">
		<h2>Profil von {{ _.models.User.session.get().username }}.</h2>

		{% for cat, msg in get_flashed_messages(with_categories=true) %}
		<p class="flash flash-{{ cat }}">
			<span class="glyphicon glyphicon-exclamation-sign"></span> {{ msg }}
		</p>
		{% endfor %}

		<br />
		<p class="lead">Möchtest du deinen Namen ändern?</p>

		<label for="username" class="sr-only">Neuer Benutzername</label>
		<input type="text" id="username" name="username" class="form-control form-control-top" placeholder="Neuer Benutzername" autofocus>

		<label for="username-repeat" class="sr-only">Benutzername wiederholen</label>
		<input type="text" id="username-repeat" name="username-repeat" class="form-control form-control-bottom" placeholder="Benutzername wiederholen">

		<button class="btn btn-lg btn-primary btn-block" type="submit">Übernehmen</button>

		<br />
		<p class="lead">Möchtest du dein Passwort ändern?</p>

		<label for="password" class="sr-only">Neues Passwort</label>
		<input type="password" id="password" name="password" class="form-control form-control-top" placeholder="Passwort">

		<label for="password-repeat" class="sr-only">Passwort wiederholen</label>
		<input type="password" id="password-repeat" name="password-repeat" class="form-control form-control-bottom" placeholder="Passwort wiederholen">

		<button class="btn btn-lg btn-primary btn-block" type="submit">Übernehmen</button>
	</form>
</div>
{% endblock %}